<% if !user_signed_in? %>
    <div class="jumbotron">
      <h1>Your favourite Movies Reviewed</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel minima reprehenderit iste repellat exercitationem voluptate quasi obcaecati omnis autem culpa! Quaerat quis tempore rerum quod qui, soluta ut necessitatibus ipsa!</p>
      <p> <%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %> </p>
    </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>